extends layout

block content
  .w3-container.w3-indigo.w3-padding-16.w3-center
    h1 CLAV
    h2 TPC7 RPCW 

  .w3-container(style="background: #777777;")
    table.w3-table-all.w3-hoverable.w3-auto(style="margin-top: 60px;")
        tr.w3-text-indigo.w3-border-indigo(style="border-bottom:5px solid")
            th Titulo
            th Código
        each item in classes
            tr
                td= item.titulo 
                td
                 a(href=item.codigo)= item.codigo